<div class="table-responsive rounded shadow">
    <table class="table table-dark">
        <thead class="thead-orange">
            <tr>
                <th>Employer</th>
                <th>Degree</th>
                <th>City</th>
                <th>Term</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var info in Model.coopTable.coopInformation)
            {
                <tr>
                    <td>@info.employer</td>
                    <td>@info.degree</td>
                    <td>@info.city</td>
                    <td>@info.term</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<h1 class="display-4 text-center text-white mb-5 mt-5">Professional Employment</h1>

<div class="table-responsive rounded shadow">
    <table class="table table-dark">
        <thead class="thead-orange">
            <tr>
                <th>Employer</th>
                <th>Degree</th>
                <th>City</th>
                <th>Title</th>
                <th>Start Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var info in Model.employmentTable.professionalEmploymentInformation)
            {
                <tr>
                    <td>@info.employer</td>
                    <td>@info.degree</td>
                    <td>@info.city</td>
                    <td>@info.title</td>
                    <td>@info.startDate</td>
                </tr>
            }
        </tbody>
    </table>
</div>